#print-header, #print-footer, #print-content {
    display: none;
}

:root {
  --dark-color: #1c1c1d;
  --light-color: #f3f3f3;
  --dark-color-hover: #616161;
  --light-color-hover: #d3d3d3;
  --dark-text-color: #111;
  --light-text-color:#ddd;
}

label{
	font-size: 18px;
}

body{
	margin: 0px;
	background-color: var(--light-color);
}

#screen-content{
	padding: 0px;
}

.top-bar{
	background-color: var(--dark-color);
	padding-top: 35px;
	padding-bottom: 35px;
	margin: 0px;
	border-bottom: 1px solid var(--light-text-color);
}

#logo{
	height: 100px;
}

#nombreProyecto {
	border-bottom: 1px solid var(--light-text-color);
	font-size: 1.5em;
	margin-top: 40px;
    vertical-align: top;
    width: 30%;
}

.dark {
	background-color: var(--dark-color);
	color: var(--light-text-color);
}

button.dark:hover{
	background-color: var(--dark-color-hover);
}

button:hover{
	cursor: pointer;
}

.big {
	padding: 10px;	
}

.container{
	padding: 15px;
}

.clearfix {
  overflow: auto;
}

.flex{
	display:flex;
}

.right{
	float: right;
}

input {
	background: none;
	border: none;
	border-bottom: 1px solid var(--dark-color);
	width: 50px;
}

#fileUploader{
	width: inherit;
}

#titulo{
	width: 50%;
}
h2{
	margin: 7px;
}
#Inicial{
	height: 500px;
    display: flex;
}

#Inicial div{
	margin: auto;
	text-align: center;
}

#Inicial div :hover{
	font-size: 1.4em;
	cursor: pointer;
}