#tablaContenedora > tbody > tr > td {
    border: none;
}

#tablaContenedora > thead *{
    border: none;
}

#tablaContenedora > tfoot *{
    border: none;
}

@page {
    size: letter;
    margin: 20px;
}

#print-header {
    position: fixed;
    top: 0;
    width: 99%;
}

#print-footer {
    display: block;
    position: fixed;
    bottom: 0;
    font-size: small;
    text-align: center;
    width: 100%;
}

#print-header, .header-space {
    height: 145px;
    border: none;
}

#print-footer, .footer-space{
    height: 30px;
    border: none;
}

#screen-content {
    display: none;
}

/*------------------------------------------------------------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 7px;
    font-size:small;
}

#print-header td{
    border: 1px solid black;
    padding: 4px;
}

td {
    border: 1px solid black;
    text-align: center;
}

th, .th {
    border: 1px solid black;
    font-weight: bold;
    color: black !important;
    background-color: #eee;
}

.grafica{
    width:100%;
    height: 150px;
}

h5{
    margin: 7px;
}

#print_cortantes{
    float: right;
}

#print_cortantes *{
    border: 1px solid black;   
}

.header{
    margin: 0px; text-align: center;
    background-color: #fff !important;
}

.center{
    text-align: center;
}

.NoBorder *{
    border:none !important;
}

.rosado *{
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-color: #f5d3c4 !important;
}