<head>
    <meta charset="UTF-8">  
    <link rel="shortcut icon" href="http://drive.google.com/uc?export=view&id=1CbzDwRAhm5eMp0tlMlZCgyRB3lO3qV8D ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>(x.x ) AnarchyCode ( x.x)</title>      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css ">
    <!-- Pon tus CSS propios aquÃ­ -->
</head>
<body>
    <header>
        <div class="jumbotron" style="background-color: #000; color: #aaa; padding-left: 30px">
            <h1><img src="http://drive.google.com/uc?export=view&id=1CbzDwRAhm5eMp0tlMlZCgyRB3lO3qV8D " style="height: 40px;border-radius:50%; " class="navbar-text">An Anarchy code</h1> 
            <p style="float: left;">No hay de qué so no más de papa</p> 
            <h3><a href="#" style="float: right; margin-right: 30px;"><span class="glyphicon glyphicon-off"></span></a></h3>
        </div>
    </header>

  <div class="row" style="margin-top: 100px">
    <div class="col col-xs-12 col-md-2 " >
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePiso">Piso</a>
            </h4>
          </div>
          <div id="collapsePiso" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Piso_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:prePiso_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseProyecto">Proyecto</a>
            </h4>
          </div>
          <div id="collapseProyecto" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Proyecto_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:preProyecto_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
              <a href="javascript:cargaContenido('main','Proyecto_delete.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    delete</a>
              <a href="javascript:cargaContenido('main','Proyecto_update.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    update</a>
              <a href="javascript:cargaContenido('main','Proyecto_cambiarNombre.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    cambiarNombre</a>
              <a href="javascript:preProyecto_listarPorUser('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listarPorUser</a>
              <a href="javascript:preProyecto_getProyecto('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    getProyecto</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapsePunto">Punto</a>
            </h4>
          </div>
          <div id="collapsePunto" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Punto_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:prePunto_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
              <a href="javascript:cargaContenido('main','Punto_update.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    update</a>
              <a href="javascript:cargaContenido('main','Punto_delete.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    delete</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeccion">Seccion</a>
            </h4>
          </div>
          <div id="collapseSeccion" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Seccion_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:preSeccion_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
              <a href="javascript:cargaContenido('main','Seccion_update.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    update</a>
              <a href="javascript:cargaContenido('main','Seccion_delete.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    delete</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseUsuario">Usuario</a>
            </h4>
          </div>
          <div id="collapseUsuario" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Usuario_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:preUsuario_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseViga">Viga</a>
            </h4>
          </div>
          <div id="collapseViga" class="panel-collapse collapse in">
            <div class="list-group">
              <a href="javascript:cargaContenido('main','Viga_insert.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    insert</a>
              <a href="javascript:preViga_listAll('main')" class="list-group-item"><span class="glyphicon glyphicon-list"></span>    listAll</a>
              <a href="javascript:cargaContenido('main','Viga_update.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    update</a>
              <a href="javascript:cargaContenido('main','Viga_delete.html')" class="list-group-item"><span class="glyphicon glyphicon-pencil"></span>    delete</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="container">
      <div id="main" class="col col-xs-12 col-md-10 " >
      </div> 
    </div> 
  </div>
    <footer style="background-color: black; color: white; text-align: center; padding: 10px; clear: both;">
        <p>Anarchy © 2018 <br>Todos los derechos y algunos izquierdos reservados</p>
    </footer>
    <script src="js/Ajax.js "></script>
    <script src="js/ViewManager.js "></script>
    <script src="js/HtmlBuilder.js "></script>
    <!-- Pon tus js aquí­ -->    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>

    <!-- Carga de datos inicial -->
    <script type="text/javascript">
prePiso_listAll('main');
    </script>
</body>
