      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">piso_insert</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Piso_insert">
                      <div class="form-group">
                          <label for="insert_id">id</label>
                          <input type="text" name="id" class="form-control" id="insert_id" placeholder="id" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_nombre">nombre</label>
                          <input type="text" name="nombre" class="form-control" id="insert_nombre" placeholder="nombre">
                       </div>
                      <div class="form-group">
                          <label for="insert_proyecto">proyecto</label>
                          <input type="text" name="proyecto" class="form-control" id="insert_proyecto" placeholder="proyecto">
                       </div>
                        <a href="javascript:prePiso_insert('Piso_insert')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
