      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">proyecto_delete</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Proyecto_delete">
                        <a href="javascript:preProyecto_delete('Proyecto_delete')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
