      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">proyecto_cambiarNombre</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Proyecto_cambiarNombre">
                      <div class="form-group">
                          <label for="cambiarNombre_nombre">nombre</label>
                          <input type="text" name="nombre" class="form-control" id="cambiarNombre_nombre" placeholder="nombre">
                       </div>
                        <a href="javascript:preProyecto_cambiarNombre('Proyecto_cambiarNombre')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
