
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>id</th>
<th>nombre</th>
<th>usuario</th>
      </tr>
    </thead>
    <tbody id="Proyecto_listAll">
      
    </tbody>
  </table>
  </div>
