
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>id</th>
<th>nombre</th>
<th>nombre</th>
<th>nombre</th>
<th>altura</th>
<th>base</th>
<th>cargaMuerta</th>
<th>cargaViva</th>
<th>longitudAferente</th>
<th>cortanteMax</th>
<th>diametro</th>
<th>station</th>
<th>mu</th>
<th>cuantia</th>
<th>cantidad</th>
<th>momentoProbable</th>
<th>idPunto</th>
<th>idPunto</th>
<th>station</th>
<th>station</th>
      </tr>
    </thead>
    <tbody id="Proyecto_getProyecto">
      
    </tbody>
  </table>
  </div>
