      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">proyecto_update</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Proyecto_update">
                      <div class="form-group">
                          <label for="update_nombre">nombre</label>
                          <input type="text" name="nombre" class="form-control" id="update_nombre" placeholder="nombre">
                       </div>
                        <a href="javascript:preProyecto_update('Proyecto_update')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
