      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">punto_insert</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Punto_insert">
                      <div class="form-group">
                          <label for="insert_id">id</label>
                          <input type="text" name="id" class="form-control" id="insert_id" placeholder="id" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_station">station</label>
                          <input type="text" name="station" class="form-control" id="insert_station" placeholder="station">
                       </div>
                      <div class="form-group">
                          <label for="insert_mu">mu</label>
                          <input type="text" name="mu" class="form-control" id="insert_mu" placeholder="mu">
                       </div>
                      <div class="form-group">
                          <label for="insert_cuantia">cuantia</label>
                          <input type="text" name="cuantia" class="form-control" id="insert_cuantia" placeholder="cuantia">
                       </div>
                      <div class="form-group">
                          <label for="insert_cantidad">cantidad</label>
                          <input type="text" name="cantidad" class="form-control" id="insert_cantidad" placeholder="cantidad">
                       </div>
                      <div class="form-group">
                          <label for="insert_momentoProbable">momentoProbable</label>
                          <input type="text" name="momentoProbable" class="form-control" id="insert_momentoProbable" placeholder="momentoProbable">
                       </div>
                      <div class="form-group">
                          <label for="insert_viga">viga</label>
                          <input type="text" name="viga" class="form-control" id="insert_viga" placeholder="viga">
                       </div>
                        <a href="javascript:prePunto_insert('Punto_insert')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
