      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">punto_delete</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Punto_delete">
                        <a href="javascript:prePunto_delete('Punto_delete')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
