      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">punto_update</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Punto_update">
                      <div class="form-group">
                          <label for="update_mu">mu</label>
                          <input type="text" name="mu" class="form-control" id="update_mu" placeholder="mu">
                       </div>
                      <div class="form-group">
                          <label for="update_cuantia">cuantia</label>
                          <input type="text" name="cuantia" class="form-control" id="update_cuantia" placeholder="cuantia">
                       </div>
                      <div class="form-group">
                          <label for="update_cantidad">cantidad</label>
                          <input type="text" name="cantidad" class="form-control" id="update_cantidad" placeholder="cantidad">
                       </div>
                      <div class="form-group">
                          <label for="update_momentoProbable">momentoProbable</label>
                          <input type="text" name="momentoProbable" class="form-control" id="update_momentoProbable" placeholder="momentoProbable">
                       </div>
                        <a href="javascript:prePunto_update('Punto_update')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
