
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>id</th>
<th>station</th>
<th>mu</th>
<th>cuantia</th>
<th>cantidad</th>
<th>momentoProbable</th>
<th>idViga</th>
      </tr>
    </thead>
    <tbody id="Punto_listAll">
      
    </tbody>
  </table>
  </div>
