      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">seccion_insert</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Seccion_insert">
                      <div class="form-group">
                          <label for="insert_viga">viga</label>
                          <input type="text" name="viga" class="form-control" id="insert_viga" placeholder="viga" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_inicio">inicio</label>
                          <input type="text" name="inicio" class="form-control" id="insert_inicio" placeholder="inicio" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_fin">fin</label>
                          <input type="text" name="fin" class="form-control" id="insert_fin" placeholder="fin" required>
                       </div>
                        <a href="javascript:preSeccion_insert('Seccion_insert')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
