      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">seccion_update</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Seccion_update">
                      <div class="form-group">
                          <label for="update_inicio">inicio</label>
                          <input type="text" name="inicio" class="form-control" id="update_inicio" placeholder="inicio" required>
                       </div>
                      <div class="form-group">
                          <label for="update_fin">fin</label>
                          <input type="text" name="fin" class="form-control" id="update_fin" placeholder="fin" required>
                       </div>
                        <a href="javascript:preSeccion_update('Seccion_update')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
