
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>idViga</th>
<th>idPunto</th>
<th>idPunto</th>
      </tr>
    </thead>
    <tbody id="Seccion_listAll">
      
    </tbody>
  </table>
  </div>
