
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>user</th>
<th>password</th>
      </tr>
    </thead>
    <tbody id="Usuario_listAll">
      
    </tbody>
  </table>
  </div>
