      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">usuario_insert</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Usuario_insert">
                      <div class="form-group">
                          <label for="insert_user">user</label>
                          <input type="text" name="user" class="form-control" id="insert_user" placeholder="user" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_password">password</label>
                          <input type="text" name="password" class="form-control" id="insert_password" placeholder="password">
                       </div>
                        <a href="javascript:preUsuario_insert('Usuario_insert')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
