
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
<th>id</th>
<th>nombre</th>
<th>altura</th>
<th>base</th>
<th>cargaMuerta</th>
<th>cargaViva</th>
<th>longitudAferente</th>
<th>cortanteMax</th>
<th>diametro</th>
<th>idPiso</th>
      </tr>
    </thead>
    <tbody id="Viga_listAll">
      
    </tbody>
  </table>
  </div>
