      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">viga_delete</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Viga_delete">
                        <a href="javascript:preViga_delete('Viga_delete')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
