      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">viga_insert</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Viga_insert">
                      <div class="form-group">
                          <label for="insert_id">id</label>
                          <input type="text" name="id" class="form-control" id="insert_id" placeholder="id" required>
                       </div>
                      <div class="form-group">
                          <label for="insert_nombre">nombre</label>
                          <input type="text" name="nombre" class="form-control" id="insert_nombre" placeholder="nombre">
                       </div>
                      <div class="form-group">
                          <label for="insert_altura">altura</label>
                          <input type="text" name="altura" class="form-control" id="insert_altura" placeholder="altura">
                       </div>
                      <div class="form-group">
                          <label for="insert_base">base</label>
                          <input type="text" name="base" class="form-control" id="insert_base" placeholder="base">
                       </div>
                      <div class="form-group">
                          <label for="insert_cargaMuerta">cargaMuerta</label>
                          <input type="text" name="cargaMuerta" class="form-control" id="insert_cargaMuerta" placeholder="cargaMuerta">
                       </div>
                      <div class="form-group">
                          <label for="insert_cargaViva">cargaViva</label>
                          <input type="text" name="cargaViva" class="form-control" id="insert_cargaViva" placeholder="cargaViva">
                       </div>
                      <div class="form-group">
                          <label for="insert_longitudAferente">longitudAferente</label>
                          <input type="text" name="longitudAferente" class="form-control" id="insert_longitudAferente" placeholder="longitudAferente">
                       </div>
                      <div class="form-group">
                          <label for="insert_cortanteMax">cortanteMax</label>
                          <input type="text" name="cortanteMax" class="form-control" id="insert_cortanteMax" placeholder="cortanteMax">
                       </div>
                      <div class="form-group">
                          <label for="insert_diametro">diametro</label>
                          <input type="text" name="diametro" class="form-control" id="insert_diametro" placeholder="diametro">
                       </div>
                      <div class="form-group">
                          <label for="insert_piso">piso</label>
                          <input type="text" name="piso" class="form-control" id="insert_piso" placeholder="piso">
                       </div>
                        <a href="javascript:preViga_insert('Viga_insert')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
