      <div>
          <div class="panel panel-default">
              <div align=center class="panel-heading"><h3 class="panel-title">viga_update</h3></div>
              <div align=center class="panel-body">
                  <form role="form" id="Viga_update">
                      <div class="form-group">
                          <label for="update_nombre">nombre</label>
                          <input type="text" name="nombre" class="form-control" id="update_nombre" placeholder="nombre">
                       </div>
                      <div class="form-group">
                          <label for="update_altura">altura</label>
                          <input type="text" name="altura" class="form-control" id="update_altura" placeholder="altura">
                       </div>
                      <div class="form-group">
                          <label for="update_base">base</label>
                          <input type="text" name="base" class="form-control" id="update_base" placeholder="base">
                       </div>
                      <div class="form-group">
                          <label for="update_cargaMuerta">cargaMuerta</label>
                          <input type="text" name="cargaMuerta" class="form-control" id="update_cargaMuerta" placeholder="cargaMuerta">
                       </div>
                      <div class="form-group">
                          <label for="update_cargaViva">cargaViva</label>
                          <input type="text" name="cargaViva" class="form-control" id="update_cargaViva" placeholder="cargaViva">
                       </div>
                      <div class="form-group">
                          <label for="update_longitudAferente">longitudAferente</label>
                          <input type="text" name="longitudAferente" class="form-control" id="update_longitudAferente" placeholder="longitudAferente">
                       </div>
                      <div class="form-group">
                          <label for="update_cortanteMax">cortanteMax</label>
                          <input type="text" name="cortanteMax" class="form-control" id="update_cortanteMax" placeholder="cortanteMax">
                       </div>
                      <div class="form-group">
                          <label for="update_diametro">diametro</label>
                          <input type="text" name="diametro" class="form-control" id="update_diametro" placeholder="diametro">
                       </div>
                        <a href="javascript:preViga_update('Viga_update')" class="btn btn-warning">Registrar</a>
                   </form>
               </div><!-- panel-body -->
          </div> <!-- panel -->
      </div>
